/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 13, 2020, 4:10:32 PM
    Author     : nelli
*/
dropdown, dropdownitem{
    background-color:yellow;
}
dropdownitem{
    display:none;
}

